<div class="blockContainer">
  <div class="innerContainer">

    <div class="minBlock">
      <a href="#">
        <div class="productSum">
          <p><strong>Savings</strong></p>
          <p>See our range of savings accounts and Cash ISAs.</p>
        </div>
        <div class="productIcon">
          <img src="assets/images/prod-icons-savings.svg" alt="savingIcon">
        </div>
      </a>
    </div>

    <div class="minBlock">
      <a href="#">
        <div class="productSum">
          <p><strong>Business Accounts</strong></p>
          <p>Working hard to help you grow your business.</p>
        </div>
        <div class="productIcon">
          <img src="assets/images/prod-icons-business.svg" alt>
        </div>
      </a>
    </div>

    <div class="minBlock">
      <a href="#">
        <div class="productSum">
          <p><strong>Mortgages</strong></p>
          <p>Award winning mortgages from BS Bank</p>
        </div>
        <div class="productIcon">
          <img src="assets/images/prod-icons-mortgages.svg" alt>
        </div>
      </a>
    </div>

    <div class="minBlock">
      <a href="#">
        <div class="productSum">
          <p><strong>Credit cards</strong></p>
          <p>Know if you'll be approved for a credit card before you apply</p>
        </div>
        <div class="productIcon">
          <img src="assets/images/prod-icons-card.svg" alt>
        </div>
      </a>
    </div>

    <div class="minBlock">
      <a href="#">
        <div class="productSum">
          <p><strong>Insurance</strong></p>
          <p>Cover for you and your adventures carefully and seriously</p>
        </div>
        <div class="productIcon">
          <img src="assets/images/prod-icons-insurance.svg" alt>
        </div>
      </a>
    </div>

    <div class="minBlock">
      <a href="#">
        <div class="productSum">
          <p><strong>Investments</strong></p>
          <p>Simple-designed to let everyone benefit from the stock market</p>
        </div>
        <div class="productIcon">
          <img src="assets/images/prod-icons-investment.svg" alt>
        </div>
      </a>
    </div>



  </div>
</div>