
.blockContainer{
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 10px;
    padding-top:3rem!important;
    padding-bottom:3rem!important;
    width:100%;
    background-color: #f7f5f6;
    width:inherit;
}
.innerContainer{
    margin-left:.5rem;
    margin-right:.5rem;
    margin-top:1rem;
    margin-bottom: 1rem;
    width:100%;
    display: flex;
    flex-direction: row;
    flex:0 0 30%;
    /* max-width:30%; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: baseline; */
    
   
}
.minBlock{
    display: flex;
    /* flex-direction: row; */
    max-width: 30%;
    background-color: #fff;
    margin-left: 10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom: 10px;
    position:relative;
}
a{
    text-decoration: none;
}
.productSum{
    width:65%;
    display: inline-block;
    padding-top:5px;
    padding-left:10px;
    font-family: "FocoLt";
    color:#666;
}
.productSum>p>strong{
    color:#e10a0a;
    font-size:20px;
}
.productIcon{
    width:35%;
    display: inline;
    vertical-align: middle;
}
.productIcon>img{
    width:90px;
    height:90px;
}

.minBlock>a:hover{
    color:#e10a0a!important;
    box-shadow:0px 0px 30px 10px #8B8B7A;
}