<p>Hi, {{customer.names}}</p>
<div class="container margintop4container">
    <div class="row clearfix">
      <div class="col-md-8 column">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
               <a class="panel-title collapsed" data-toggle="collapse"  href="#panel-element-investment">
                  <button class="btn btn-danger" type="button">
                      Investment Account<span class="badge" *ngIf="investmentCards">{{investmentCards.length}}</span>
                    </button></a>
            </div>
            <div id="panel-element-investment" class="panel-collapse">
              <div class="panel-body">
                  <table class="table table-striped">
                      <caption *ngIf="!investmentCards">该账户下无卡</caption>
                      <thead *ngIf="investmentCards">
                        <tr>
                          <th>CardNo</th>
                          <th>Currency</th>
                          <th>CurrentBalance</th>
                          <th>AvailableBalance</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let card of investmentCards">
                          <td>{{card.displayAccountNumber}}</td>
                          <td>{{card.currencyCode}}</td>
                          <td>{{card.currentBalance}}</td>
                          <td>{{card.availableBalance}}</td>
                          <td>{{card.accountStatus}}</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
               <a class="panel-title collapsed" data-toggle="collapse"  href="#panel-element-saving">
                  <button class="btn btn-danger" type="button">
                      Saving Account<span class="badge">{{savingCards.length}}</span>
                    </button></a>
            </div>
            <div id="panel-element-saving" class="panel-collapse">
              <div class="panel-body">
                  <table class="table table-striped">
                      <!-- <caption>条纹表格布局</caption> -->
                      <caption *ngIf="!savingCards">该账户下无卡</caption>
                      <thead *ngIf="savingCards">
                        <tr>
                          <th>CardNo</th>
                          <th>Currency</th>
                          <th>CurrentBalance</th>
                          <th>AvailableBalance</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let card of savingCards">
                          <td>{{card.displayAccountNumber | cardDisplayNumberFormat}}</td>
                          <td>{{card.currencyCode}}</td>
                          <td>{{card.currentBalance | number: '1.2-4'}}</td>
                          <td>{{card.availableBalance | number: '1.2-4'}}</td>
                          <td>{{card.accountStatus}}</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                 <a class="panel-title collapsed" data-toggle="collapse" href="#panel-element-credit">
                    <button class="btn btn-danger" type="button">
                        Credit Account<span class="badge">{{creditCards.length}}</span>
                      </button></a>
              </div>
              <div id="panel-element-credit" class="panel-collapse">
                <div class="panel-body">
                    <table class="table table-striped">
                        <!-- <caption>条纹表格布局</caption> -->
                        <caption *ngIf="!creditCards">该账户下无卡</caption>
                        <thead *ngIf="creditCards">
                          <tr>
                            <th>CardNo</th>
                            <th>Currency</th>
                            <th>CurrentBalance</th>
                            <th>AvailableBalance</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let card of creditCards">
                              <td>{{card.displayAccountNumber | cardDisplayNumberFormat}}</td>
                              <td>{{card.currencyCode}}</td>
                              <td>{{card.currentBalance | number: '1.2-4'}}</td>
                              <td>{{card.availableBalance | number: '1.2-4'}}</td>
                              <td>{{card.accountStatus}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-4 column">
      </div>
    </div>
  </div>