.margintop4container{
    margin-top: 1vh;
}
.badge{
    margin-left: 1vh;
    color: white!important;
    background-color: #d9534f!important;
}
p{
    font-size: 5vh;
}
.accountStatusflag{
    opacity: 0.5;
    pointer-events: none;
  }
  .padding4table{
      padding: 0 1vh 0 0;
  }
  .col-md-4 h1{
      margin:0 0 2vh 0;
  }
  .slide{
      margin-bottom: 2vh!important;
  }