<div style="background-color:#333;width: 100%;overflow: hidden;display: block">
  <div style="padding-left:40px;padding-right: 40px">
    <div style="float: left;">
      <img src="assets/images/bs_rectangle.png" style="height:10vh;margin: 30px 0px 0px 0px;">
    </div>
    <div style="float:right">
    <span style="background-image: url(assets/images/Bs-Branding-Sprite.png);background-position: 0% 62%;
    width:13px;height:25px;display: inline-block;margin: 30px 20px 40px 0px;"></span>
    <span style="background-image: url(assets/images/Bs-Branding-Sprite.png);background-position: 12% 62.5%;
   width:30px;height:26px;display: inline-block;margin: 30px 20px 40px 0px;"></span>
    <span style="background-image: url(assets/images/Bs-Branding-Sprite.png);background-position: 42% 62%;
   width:38px;height:25px;display: inline-block;margin: 30px 20px 40px 0px;"></span>
   </div>
    <div style="clear: both"></div>
    <div style="float: left;margin-bottom: 40px;">
      <div class="FootList">
        <p>Relationship Banking</p>
        <ul>
          <li><a href="">Our Story</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Benefits and Services</a></li>
          <li><a href="">Rewards</a></li>
          <li><a href="">Bs Easy Deals<sup>SM</sup></a></li>
          <li><a href="">Bs<sup>®</sup>Private Pass<sup>®</sup></a></li>
        </ul>
      </div>
      <div class="FootList">
        <p>Relationship Banking</p>
        <ul>
          <li><a href="">Bs Priority</a></li>
          <li><a href="">Bsgold<sup>®</sup></a></li>
          <li><a href="">Bs Private Bank</a></li>
        </ul>
      </div>
      <div class="FootList">
        <p>Business Banking</p>
        <ul>
          <li><a href="">Relationship Banking</a></li>
          <li><a href="">Bs Priority</a></li>
          <li><a href="">Bsgold<sup>®</sup></a></li>
          <li><a href="">Bs Private Bank</a></li>
        </ul>
      </div>
    </div>
    <div id="footline">
      <p style="float:left;">© 2018 Bsgroup Inc</p>
      <a href="" style="padding-right: 20px;">Terms & Conditions</a>
      <a href="" style="padding-right: 20px;">Privacy</a>
      <a href="" style="padding-right: 20px;">Accessibility</a>
      <p style="display:inline-block;;padding-right: 20px;">Country & Jurisdictions:</p>
      <a href="" style="font-weight:bold;">United States></a>
    </div>
    <!-- <div id="movingblock"></div> -->
  </div>
</div>